body {
  background-image: url('../images/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: black;
}

.bgnav {
  background-color: #93d6eb;
}

.navbar-brand {
  font-family: "Ubuntu", cursive;
  color: black;
  font-size: 6.5rem;
}

.main {
  border-radius: 25px;
  margin-top: 2%;
}
