/* ------------------|| Body Styles */

#result {
  padding: 4% 4%;
}

#body {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  
  

  padding: 28px;
  color: white;
}

hr.hr-1 {
  border: 0;
  border-bottom: 2px dashed #eee;
  background: #999;
}


/* ------------------|| Font Styles */

#a {
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
}

#b {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}

#c {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.sized-box{
  width: 100%;
  height: 100px;
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: none;
  color: #fff;
}

.card-title{
  color: black;
}

.card-text{
  color: black;
}