/* ------------------|| Body Styles */

body {
  background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
}

#features {
  padding: 4% 4%;
}

#search {
  padding: 4% 4%;
}

/* ------------------|| Header Styles */

h1 {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
  color: white;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
}

.label {
  color: white;
}
/* ------------------|| Div Styles */

.container-fluid {
  padding: 3% 15%;
}

.search-box {
  padding: 3% 15%;
  text-align: center;
}

/* ------------------|| Widget Styles */
.search-btn {
  border: none;
  padding: 1% 1%;
  border-radius: 50px;
  background: #fcdab7;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: none;
  border-radius: 50px;
  border: none;
  background: #fcdab7;
  box-shadow: inset 20px 20px 60px #b09980, inset -20px -20px 60px #ffffee;
}
