/* ------------------|| Body Styles */

body {
  background: linear-gradient(to top left, #f1f4f9 0%, #89adf0 100%);
}

#features {
  padding: 4% 4%;
}

#search {
  padding: 4% 4%;
}

/* ------------------|| Header & Font Styles */

h1 {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
  color: rgb(24, 21, 21);
}

h2 {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
  color: rgb(24, 21, 21);
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
}

.label {
  color: rgb(24, 21, 21);
}

#footer {
  text-align: center;
}
/* ------------------|| Div Styles */

.container-fluid {
  padding: 3% 3%;
}

.search-box {
  padding: 3% 3%;
  text-align: center;
}

.sized-box {
  width: 100%;
  height: 77px;
}

/* ------------------|| Widget Styles */
.search-btn {
  border: none;
  padding: 1% 1%;
  border-radius: 2px;
  background: none;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: none;
  border: none;
  border-radius: 50px;
  background: #cce0ff;
  box-shadow: inset 20px 20px 60px #adbed9, inset -20px -20px 60px #ebffff;
}

/* ------------------|| Nav Styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: inline;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(24, 21, 21);
}
