/* ------------------|| Body Styles */

#title {
  background-color: #1d2d50;
}

#features {
  background-color: #133b5c;
  padding: 4% 4%;
}

#search {
  background-color: #1e5f74;
  padding: 4% 4%;
}

/* ------------------|| Header Styles */

h1 {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
  color: white;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
}

.label{
  color: white;
}
/* ------------------|| Div Styles */

.container-fluid {
  padding: 3% 15%;
}

.search-box {
  padding: 3% 15%;
  text-align: center;
}

/* ------------------|| Widget Styles */
.search-btn{
  border: none;
  padding: 1% 1%;
  border-radius: 50px;
background: #fcdab7;

}

.card {
  color: white;
  text-align: center;
  border: none;
  border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(145deg, #1b5668, #20667c);
  box-shadow: 5px 5px 16px #0e2b34, -5px -5px 16px #2f93b4;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: none;
  border-radius: 50px;
  border: none;
background: #fcdab7;
box-shadow: inset 20px 20px 60px #b09980, 
            inset -20px -20px 60px #ffffee;
}
