/* ------------------|| Body Styles */

#title {
  background-color: #efbbcf;
}

#features {
  background-color: #fcf1f1;
  padding: 4% 4%;
}

#search{
  background-color: #ffd5cd;
  padding: 4% 4%;
}

/* ------------------|| Header Styles */

h1 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
}

/* ------------------|| Div Styles */

.container-fluid {
  padding: 3% 15%;
}

.search-box {
  padding: 3% 15%;
  text-align: center;
}

/* ------------------|| Widget Styles */

.card {
  text-align: center;
  border: none;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6c0b9, #ffe4db);
  box-shadow: 20px 20px 60px #d9b5ae, -20px -20px 60px #fff5ec;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  background-color: #fcf1f1;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
