<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            type="text/css"
            rel="stylesheet"
            href="../css/materialize.css"
            media="screen,projection"
    />
    <title>History</title>
</head>
<body>
<!-- NavBar -->
<nav>
    <div class="nav-wrapper" style="background-color: #ffe2e2;">
        <a href="#" class="brand-logo center black-text" style="font-size: 1.5rem;"><%= User %>'s Drug Search
            History</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../views/Home.html">❌</a></li>
        </ul>
    </div>
</nav>

<div style="padding: 2%">
    <table>
        <thead>
        <tr>
            <th>Drug Name</th>
            <th>Time & Date</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(function(x) { %>
        <tr>
            <td><%= x.drugName %></td>
            <td>at <%= x.time %> on <%= x.date %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>