<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops</title>
</head>
<body>
<div style="position:fixed;top: 50%;left: 50%;width:30em;height:18em;margin-top: -9em;margin-left: -15em;border: 1px solid #ccc;background-color: white;">
    <img src="../images/oops.gif" alt="" style="height: 100%; width: 100%">
</div>
<div style="text-align: center; display: inline">
   <h1><span>Sorry, This Location Doesn't Exist in our Database</span> <span><a href="../views/Home.html">Go Back</a></span></h1>

</div>

</body>
</html>