<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Success</title>
    <link rel="stylesheet" href="../css/Temp.css" class="css" />
  </head>
  <body>
    <div class="outerBody">
      <div class="card">
        <div class="bottomPart">
          <div class="payment"><h1>Payment Successful</h1></div>
          <p><%=DrugName%></p>
          <div class="contentDiv">
            <button class="eachDiv">
              <a href="../views/Home.html"><h3>Go to Home</h3></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
